apiVersion: apps/v1
kind: Deployment
metadata:
  name: rengifo-api
  namespace: rengifo
spec:
  replicas: 4
  selector:
    matchLabels:
      app: rengifo-api
  template:
    metadata:
      labels:
        app: rengifo-api
    spec:
      containers:
        - name: rengifo-api
          image: rengifo-api:v1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5000
          env:
            - name: LaunchDarkly__UseRelay
              value: "true"
            - name: LaunchDarkly__SdkKey
              value: "sdk-local-relay"
            - name: LaunchDarkly__RelayBaseUri
              value: "http://launchdarkly-relay-ld-relay.launchdarkly.svc.cluster.local:8030"

---
apiVersion: v1
kind: Service
metadata:
  name: rengifo-api
  namespace: rengifo
spec:
  type: NodePort
  selector:
    app: rengifo-api
  ports:
    - port: 5000
      targetPort: 5000
      nodePort: 32000

